body, html {
    height: 100%;
    width: 100%;
}

#dateSelection-area{
    padding: 20px;
    height: 100vh;
    width: 30%;
    margin: 0;
    display: flex;
    float:left;
    background: #f8c419; 
}

.selectionDiv {
    /*text-align: left;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-label{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centerDiv {
    color: #FFFFFF90;
    text-align: center;
    background: #2F3437;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: absolute;
    border-radius: 0%;
}

#preview{
    padding: 20px;
    height: 100vh;
    width: 70%;
    margin: 0;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
}



#expired-area {
    visibility: hidden;
}