body, html {
    height: 100%;
    width: 100%;
}

#dateSelection-area{
    padding: 20px;
    height: 100vh;
    width: 30%;
    margin: 0;
    display: flex;
    float:left;
    background: #be4204; 
}

.selectionDiv {
    /*text-align: left;*/
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.centerDiv {
    text-align: center;
    background: #E9E5E3; /*Brown LM*/
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: absolute;
}

#preview{
    padding: 20px;
    height: 100vh;
    width: 70%;
    margin: 0;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
}



#expired-area {
    visibility: hidden;
}