body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; /* Changed to transparent */
}

.centerDiv{
    color: #FFFFFF90;
    text-align: center;
    background: #2F3437;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position:absolute;
    border-radius: 0%;
}


.icon {
    cursor: pointer;
}


#expired-area {
    visibility: hidden;
}

.text-label{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.selected-date{
    font-weight: bold;
}

.calendarRow {
    display: ruby;
    margin: 4%;
    font-size: xx-large;
    max-width: 95%;
    width: 90%;
}

.cardRow {
    max-width: 15%;
    width: 14%;
    margin: 5px;
    display: grid;
    position: sticky;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
}

.calendar-label {
    font-size: small;
}